In [3]:
import pandas as pd

df_forecast = pd.read_excel('E:/FMCG_Project/Data/Forcast.xlsx')
df_main = pd.read_excel('E:/FMCG_Project/Data/Updated_Main_Data.xlsx')

In [4]:
display(df_forecast.head())
display(df_main.head())
display(df_forecast.info())
display(df_main.info())
display(df_forecast.describe())
display(df_main.describe())

,BRAND,ACTIVE,Product,Product description,PROD,TYP,STATUS,ON HAND INITIAL,PO INITIAL,OCT,...,MAR.4,APR.4,MAY.4,JUN.4,JUL.3,AUG.4,SEP,OCT.5,NOV.5,DEC.5
0,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,HAND,NaN,NaN,NaN,...,-78.000000,-178.333333,-286.444444,-393.259259,-498.345679,-605.016461,-711.207133,-817.189758,-923.471117,-1029.622669
1,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,PURCHASE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,SALES,NaN,NaN,NaN,...,100.333333,108.111111,106.814815,105.086420,106.670782,106.190672,105.982625,106.281360,106.151552,106.138512
3,HISENSE,YES,HISPAC15HP,PORTABLE AC 1.5HP COOL/HEAT,AC,PAC,HAND,NaN,NaN,NaN,...,390.666667,262.222222,137.296296,19.728395,-103.917695,-225.964335,-347.051212,-469.311081,-591.108876,-712.823723
4,HISENSE,YES,HISPAC15HP,PORTABLE AC 1.5HP COOL/HEAT,AC,PAC,PURCHASE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Site,Date,Invoice Number,Customer Code,Name,Item Code,Item Description,Quantity
0,BABU,2024-01-02,SINBABU00133589,ABBES001,BEST BUY NIG LTD,HISSPL15HPINV,HISENSE SPLIT 1.5HP INV LVS,1
1,BABU,2024-01-02,SINBABU00133599,ABPAR002,PARK'N'SHOP ABUJA,HISSPL20HPCOPPER,HISENSE SPLIT 2HP COPPER,3
2,BABU,2024-01-02,SINBABU00133592,ABCEL002,CELECT CENTRAL STORES,HISSPL15HPINV,HISENSE SPLIT 1.5HP INV LVS,2
3,BABU,2024-01-02,SINBABU00133588,ABAKU001,AKU-MORE NIG LTD,HISSPL15HPCOPPER,HIS SPLIT 1.5HP COPPER,11
4,BABU,2024-01-02,SINBABU00133599,ABPAR002,PARK'N'SHOP ABUJA,HISSPL10HPINV,HISENSE SPLIT 1HP INV LVS,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 72 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BRAND                24 non-null     object
 1   ACTIVE               24 non-null     object
 2   Product              24 non-null     object
 3   Product description  24 non-null     object
 4   PROD                 24 non-null     object
 5   TYP                  24 non-null     object
 6   STATUS               24 non-null     object
 7   ON HAND INITIAL      0 non-null      float64
 8   PO INITIAL           0 non-null      float64
 9   OCT                  18 non-null     float64
 10  NOV                  18 non-null     float64
 11  DEC                  24 non-null     int64
 12  JAN                  24 non-null     int64
 13  FEB                  23 non-null     float64
 14  MAR                  23 non-null     float64
 15  APR                  24 non-null     int64
 16  MAY                  23 non-null     float64
 17  JUN                  24 non-null     int64
 18  JUL                  20 non-null     float64
 19  AUG                  20 non-null     float64
 20  SEPT                 21 non-null     float64
 21  OCT.1                16 non-null     float64
 22  NOV.1                16 non-null     float64
 23  DEC.1                16 non-null     float64
 24  JAN.1                22 non-null     float64
 25  FEB.1                22 non-null     float64
 26  MAR.1                22 non-null     float64
 27  APR.1                22 non-null     float64
 28  MAY.1                22 non-null     float64
 29  JUN.1                22 non-null     float64
 30  JULY                 16 non-null     float64
 31  AUG.1                23 non-null     float64
 32  SEPT.1               22 non-null     float64
 33  OCT.2                22 non-null     float64
 34  NOV.2                21 non-null     float64
 35  DEC.2                22 non-null     float64
 36  JAN.2                22 non-null     float64
 37  FEB.2                22 non-null     float64
 38  MAR.2                22 non-null     float64
 39  APR.2                22 non-null     float64
 40  MAY.2                22 non-null     float64
 41  JUN.2                22 non-null     float64
 42  JUL.1                23 non-null     float64
 43  AUG.2                23 non-null     float64
 44  SEPT.2               22 non-null     float64
 45  OCT.3                21 non-null     float64
 46  NOV.3                22 non-null     float64
 47  DEC.3                22 non-null     float64
 48  JAN.3                22 non-null     float64
 49  FEB.3                22 non-null     float64
 50  MAR.3                23 non-null     float64
 51  APR.3                22 non-null     float64
 52  MAY.3                22 non-null     float64
 53  JUN.3                22 non-null     float64
 54  JUL.2                23 non-null     float64
 55  AUG.3                22 non-null     float64
 56  SEPT.3               22 non-null     float64
 57  OCT.4                21 non-null     float64
 58  NOV.4                21 non-null     float64
 59  DEC.4                23 non-null     float64
 60  JAN.4                22 non-null     float64
 61  FEB.4                22 non-null     float64
 62  MAR.4                22 non-null     float64
 63  APR.4                16 non-null     float64
 64  MAY.4                16 non-null     float64
 65  JUN.4                16 non-null     float64
 66  JUL.3                16 non-null     float64
 67  AUG.4                16 non-null     float64
 68  SEP                  16 non-null     float64
 69  OCT.5                16 non-null     float64
 70  NOV.5                16 non-null     float64
 71  DEC.5                16 non-null     float64
dtypes: float64(61), int64(4), object(7)
memory usage: 13.6+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42867 entries, 0 to 42866
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Site              42867 non-null  object
 1   Date              42867 non-null  datetime64[ns]
 2   Invoice Number    42867 non-null  object
 3   Customer Code     42867 non-null  object
 4   Name              42867 non-null  object
 5   Item Code         42867 non-null  object
 6   Item Description  42867 non-null  object
 7   Quantity          42867 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 2.6+ MB

None

,ON HAND INITIAL,PO INITIAL,OCT,NOV,DEC,JAN,FEB,MAR,APR,MAY,...,MAR.4,APR.4,MAY.4,JUN.4,JUL.3,AUG.4,SEP,OCT.5,NOV.5,DEC.5
count,0.0,0.0,18.000000,18.000000,24.000000,24.000000,23.000000,23.000000,24.000000,23.000000,...,22.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000
mean,NaN,NaN,4003.166667,4037.277778,2741.958333,2855.375000,2781.521739,2596.043478,2752.166667,3305.478261,...,5450.419192,5633.622685,6228.892747,4301.197274,2425.779235,545.456419,-1349.022357,-3232.428901,-5118.498280,-7006.483180
std,NaN,NaN,4122.227628,2754.400603,2714.612143,2723.211688,2755.372073,2770.907358,2779.560908,2857.427687,...,4585.465509,5545.492999,6734.853185,4474.756542,3843.952551,5416.568615,7964.995169,10828.012858,13811.450079,16850.432663
min,NaN,NaN,33.000000,468.000000,0.000000,-29.000000,0.000000,-644.000000,-17.000000,0.000000,...,-78.000000,-178.333333,-286.444444,-393.259259,-7103.670782,-13948.524005,-20771.760402,-27589.318397,-35040.751816,-45050.034429
25%,NaN,NaN,1131.750000,1851.500000,427.500000,453.250000,511.500000,200.000000,441.500000,850.000000,...,1482.833333,1041.250000,1087.972222,119.006173,118.202675,-953.050754,-2749.947645,-4984.299535,-7219.401095,-9458.632758
50%,NaN,NaN,2925.000000,3108.500000,1922.500000,1932.000000,1815.000000,1406.000000,1434.000000,3245.000000,...,4952.388889,5286.129630,5199.512346,3767.767490,2080.984225,113.638775,114.121247,114.039577,-242.478662,-303.342605
75%,NaN,NaN,5145.750000,5725.000000,4619.750000,5378.750000,4095.000000,4319.000000,5183.500000,5586.000000,...,8448.416667,8267.212963,7838.533951,6986.250000,4823.116255,3394.308070,2352.314053,2235.101560,2239.231664,2236.228371
max,NaN,NaN,16097.000000,9108.000000,8606.000000,8938.000000,9096.000000,8391.000000,9794.000000,10872.000000,...,16011.333333,20189.444444,25113.259259,14937.345679,9925.587106,10042.054412,9997.434690,9988.358736,10009.282613,9998.358680

                                Date      Quantity
count                          42867  42867.000000
mean   2024-03-22 20:24:52.504723968      3.576457
min              2024-01-02 00:00:00   -250.000000
25%              2024-02-07 00:00:00      1.000000
50%              2024-03-12 00:00:00      2.000000
75%              2024-05-11 00:00:00      4.000000
max              2024-06-30 00:00:00    350.000000
std                              NaN      6.287180

In [5]:
nlp_cols_forecast = ['BRAND', 'ACTIVE', 'Product', 'Product description', 'PROD', 'TYP', 'STATUS']
nlp_cols_main = ['Site', 'Invoice Number', 'Customer Code', 'Name', 'Item Code', 'Item Description']

In [6]:
print("Missing values in df_forecast NLP columns:")
print(df_forecast[nlp_cols_forecast].isnull().sum())

Missing values in df_forecast NLP columns:
BRAND                  0
ACTIVE                 0
Product                0
Product description    0
PROD                   0
TYP                    0
STATUS                 0
dtype: int64

In [7]:

print("\nMissing values in df_main NLP columns:")
print(df_main[nlp_cols_main].isnull().sum())

Missing values in df_main NLP columns:
Site                0
Invoice Number      0
Customer Code       0
Name                0
Item Code           0
Item Description    0
dtype: int64

In [8]:
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
import string

nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [9]:

nlp_cols_forecast = ['Product description', 'STATUS']
nlp_cols_main = ['Name', 'Item Description']

stop_words = set(stopwords.words('english'))

def preprocess_text(text):
    if isinstance(text, str):
        text = text.lower()
        text = text.translate(str.maketrans('', '', string.punctuation))
        text = ' '.join([word for word in text.split() if word not in stop_words])
        return text
    return ""

for col in nlp_cols_forecast:
    df_forecast[col + '_processed'] = df_forecast[col].apply(preprocess_text)

for col in nlp_cols_main:
    df_main[col + '_processed'] = df_main[col].apply(preprocess_text)

tfidf_vectorizer_forecast = TfidfVectorizer(max_features=1000)
tfidf_matrix_forecast = tfidf_vectorizer_forecast.fit_transform(df_forecast[nlp_cols_forecast[0] + '_processed'] + " " + df_forecast[nlp_cols_forecast[1] + '_processed'])

tfidf_vectorizer_main = TfidfVectorizer(max_features=1000)
tfidf_matrix_main = tfidf_vectorizer_main.fit_transform(df_main[nlp_cols_main[0] + '_processed'] + " " + df_main[nlp_cols_main[1] + '_processed'])

# Store TF-IDF vectors in new columns (as lists or arrays)
df_forecast['tfidf_embeddings'] = [vec.toarray().tolist()[0] for vec in tfidf_matrix_forecast]
df_main['tfidf_embeddings'] = [vec.toarray().tolist()[0] for vec in tfidf_matrix_main]

In [11]:
display(df_forecast.head())

,BRAND,ACTIVE,Product,Product description,PROD,TYP,STATUS,ON HAND INITIAL,PO INITIAL,OCT,...,JUN.4,JUL.3,AUG.4,SEP,OCT.5,NOV.5,DEC.5,Product description_processed,STATUS_processed,tfidf_embeddings
0,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,HAND,NaN,NaN,NaN,...,-393.259259,-498.345679,-605.016461,-711.207133,-817.189758,-923.471117,-1029.622669,air purifier white,hand,"[0.0, 0.0, 0.0, 0.0, 0.5338071455061418, 0.0, ..."
1,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,PURCHASE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,air purifier white,purchase,"[0.0, 0.0, 0.0, 0.0, 0.5338071455061418, 0.0, ..."
2,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,SALES,NaN,NaN,NaN,...,105.086420,106.670782,106.190672,105.982625,106.281360,106.151552,106.138512,air purifier white,sales,"[0.0, 0.0, 0.0, 0.0, 0.5338071455061418, 0.0, ..."
3,HISENSE,YES,HISPAC15HP,PORTABLE AC 1.5HP COOL/HEAT,AC,PAC,HAND,NaN,NaN,NaN,...,19.728395,-103.917695,-225.964335,-347.051212,-469.311081,-591.108876,-712.823723,portable ac 15hp coolheat,hand,"[0.33966004552679313, 0.0, 0.0, 0.502071388715..."
4,HISENSE,YES,HISPAC15HP,PORTABLE AC 1.5HP COOL/HEAT,AC,PAC,PURCHASE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,portable ac 15hp coolheat,purchase,"[0.33966004552679313, 0.0, 0.0, 0.502071388715..."

In [12]:
display(df_main.head())

,Site,Date,Invoice Number,Customer Code,Name,Item Code,Item Description,Quantity,Name_processed,Item Description_processed,tfidf_embeddings
0,BABU,2024-01-02,SINBABU00133589,ABBES001,BEST BUY NIG LTD,HISSPL15HPINV,HISENSE SPLIT 1.5HP INV LVS,1,best buy nig ltd,hisense split 15hp inv lvs,"[0.17553708167982868, 0.0, 0.0, 0.0, 0.0, 0.0,..."
1,BABU,2024-01-02,SINBABU00133599,ABPAR002,PARK'N'SHOP ABUJA,HISSPL20HPCOPPER,HISENSE SPLIT 2HP COPPER,3,parknshop abuja,hisense split 2hp copper,"[0.0, 0.0, 0.0, 0.0, 0.2595887415088821, 0.0, ..."
2,BABU,2024-01-02,SINBABU00133592,ABCEL002,CELECT CENTRAL STORES,HISSPL15HPINV,HISENSE SPLIT 1.5HP INV LVS,2,celect central stores,hisense split 15hp inv lvs,"[0.130587034867311, 0.0, 0.0, 0.0, 0.0, 0.0, 0..."
3,BABU,2024-01-02,SINBABU00133588,ABAKU001,AKU-MORE NIG LTD,HISSPL15HPCOPPER,HIS SPLIT 1.5HP COPPER,11,akumore nig ltd,split 15hp copper,"[0.20592574606091288, 0.0, 0.0, 0.0, 0.0, 0.0,..."
4,BABU,2024-01-02,SINBABU00133599,ABPAR002,PARK'N'SHOP ABUJA,HISSPL10HPINV,HISENSE SPLIT 1HP INV LVS,2,parknshop abuja,hisense split 1hp inv lvs,"[0.0, 0.0, 0.1670086043736032, 0.0, 0.0, 0.0, ..."

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [14]:

def answer_question(query, df_forecast, df_main, tfidf_vectorizer_forecast, tfidf_vectorizer_main, nlp_cols_forecast, nlp_cols_main):
    processed_query = preprocess_text(query)
    query_vector_forecast = tfidf_vectorizer_forecast.transform([processed_query])
    query_vector_main = tfidf_vectorizer_main.transform([processed_query])

    forecast_embeddings = np.array(df_forecast['tfidf_embeddings'].tolist())
    main_embeddings = np.array(df_main['tfidf_embeddings'].tolist())

    if forecast_embeddings.size > 0:
        cosine_similarities_forecast = cosine_similarity(query_vector_forecast, forecast_embeddings).flatten()
        most_similar_index_forecast = cosine_similarities_forecast.argmax()
        best_match_forecast = df_forecast.iloc[most_similar_index_forecast]
        forecast_similarity_score = cosine_similarities_forecast[most_similar_index_forecast]
    else:
        best_match_forecast = None
        forecast_similarity_score = 0

    if main_embeddings.size > 0:
        cosine_similarities_main = cosine_similarity(query_vector_main, main_embeddings).flatten()
        most_similar_index_main = cosine_similarities_main.argmax()
        best_match_main = df_main.iloc[most_similar_index_main]
        main_similarity_score = cosine_similarities_main[most_similar_index_main]
    else:
        best_match_main = None
        main_similarity_score = 0

    # Determine which dataframe has a better match or if no good match is found
    if forecast_similarity_score > main_similarity_score and forecast_similarity_score > 0.1: # Threshold can be adjusted
        return "Based on forecast data: " + str(best_match_forecast)
    elif main_similarity_score > 0.1: # Threshold can be adjusted
        return "Based on main data: " + str(best_match_main)
    else:
        return "Could not find relevant information in the dataframes."

# Example usage (this part won't be executed by the AI but shows how the function works)
# query = "What is the status of HISAP15K4AF1-AE?"
# answer = answer_question(query, df_forecast, df_main, tfidf_vectorizer_forecast, tfidf_vectorizer_main, nlp_cols_forecast, nlp_cols_main)
# print(answer)

In [15]:
sample_questions = [
    "What is the status of HISAP15K4AF1-AE?",
    "Tell me about the sales quantity for HISENSE SPLIT 1HP COPPER.",
    "What products are listed as HAND status in the forecast data?",
    "Which customer bought HISENSE SPLIT 1.5HP INV LVS?",
    "What is the Item Description for Item Code HISPAC15HP?",
    "Show me the details for invoice number SINBABU00133599.",
    "What is the forecast for HISENSE SPLIT 2HP COPPER in October?",
    "What are the different product types in the forecast data?",
    "Find information about PARK'N'SHOP ABUJA.",
    "What is the quantity for Item Code HISSPL10HPINV in the main data?"
]

for i, question in enumerate(sample_questions):
    print(f"Question {i+1}: {question}")
    answer = answer_question(question, df_forecast, df_main, tfidf_vectorizer_forecast, tfidf_vectorizer_main, nlp_cols_forecast, nlp_cols_main)
    print(f"Answer {i+1}: {answer}\n")

Question 1: What is the status of HISAP15K4AF1-AE?
Answer 1: Could not find relevant information in the dataframes.

Question 2: Tell me about the sales quantity for HISENSE SPLIT 1HP COPPER.
Answer 2: Based on forecast data: BRAND                                                                      HISENSE
ACTIVE                                                                         YES
Product                                                           HISSPL10HPCOPPER
Product description                                      HISENSE SPLIT 1HP COPPER
PROD                                                                            AC
                                                       ...
NOV.5                                                                   4815.57498
DEC.5                                                                  4810.617882
Product description_processed                             hisense split 1hp copper
STATUS_processed                                                             sales
tfidf_embeddings                 [0.0, 0.5571805619482976, 0.0, 0.0, 0.0, 0.0, ...
Name: 8, Length: 75, dtype: object

Question 3: What products are listed as HAND status in the forecast data?
Answer 3: Based on forecast data: BRAND                                                                      HISENSE
ACTIVE                                                                         YES
Product                                                           HISSPL15HPCOPPER
Product description                                        HIS SPLIT 1.5HP COPPER
PROD                                                                            AC
                                                       ...
NOV.5                                                                -34417.867601
DEC.5                                                                -41240.982133
Product description_processed                                    split 15hp copper
STATUS_processed                                                              hand
tfidf_embeddings                 [0.5303504297989189, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: 12, Length: 75, dtype: object

Question 4: Which customer bought HISENSE SPLIT 1.5HP INV LVS?
Answer 4: Based on forecast data: BRAND                                                                      HISENSE
ACTIVE                                                                         YES
Product                                                              HISSPL15HPINV
Product description                                    HISENSE SPLIT 1.5HP INV LVS
PROD                                                                            AC
                                                       ...
NOV.5                                                                -35040.751816
DEC.5                                                                -45050.034429
Product description_processed                           hisense split 15hp inv lvs
STATUS_processed                                                              hand
tfidf_embeddings                 [0.4417302374784849, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: 15, Length: 75, dtype: object

Question 5: What is the Item Description for Item Code HISPAC15HP?
Answer 5: Could not find relevant information in the dataframes.

Question 6: Show me the details for invoice number SINBABU00133599.
Answer 6: Could not find relevant information in the dataframes.

Question 7: What is the forecast for HISENSE SPLIT 2HP COPPER in October?
Answer 7: Based on main data: Site                                                                       MAJA
Date                                                        2024-01-13 00:00:00
Invoice Number                                                  SINHOLA00476465
Customer Code                                                          LAWOO001
Name                                                                 WOODstyles
Item Code                                                      HISSPL20HPCOPPER
Item Description                                      HISENSE SPLIT 2HP COPPER
Quantity                                                                      1
Name_processed                                                       woodstyles
Item Description_processed                             hisense split 2hp copper
tfidf_embeddings              [0.0, 0.0, 0.0, 0.0, 0.7742253086685369, 0.0, ...
Name: 3643, dtype: object

Question 8: What are the different product types in the forecast data?
Answer 8: Based on main data: Site                                                                       BHN3
Date                                                        2024-03-08 00:00:00
Invoice Number                                                  SINBAPA00083112
Customer Code                                                            DUN002
Name                                          DUNPILLO PRODUCT LIMITED (LA0713)
Item Code                                                      HISSPL15HPCOPPER
Item Description                                        HIS SPLIT 1.5HP COPPER
Quantity                                                                      1
Name_processed                                  dunpillo product limited la0713
Item Description_processed                                    split 15hp copper
tfidf_embeddings              [0.2124833918243015, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: 20261, dtype: object

Question 9: Find information about PARK'N'SHOP ABUJA.
Answer 9: Based on main data: Site                                                                       BABU
Date                                                        2024-01-10 00:00:00
Invoice Number                                                  SINBABU00134022
Customer Code                                                          ABPAR002
Name                                                          PARK'N'SHOP ABUJA
Item Code                                                      HISSPL15HPCOPPER
Item Description                                        HIS SPLIT 1.5HP COPPER
Quantity                                                                      3
Name_processed                                                  parknshop abuja
Item Description_processed                                    split 15hp copper
tfidf_embeddings              [0.17013165287902218, 0.0, 0.0, 0.0, 0.0, 0.0,...
Name: 2421, dtype: object

Question 10: What is the quantity for Item Code HISSPL10HPINV in the main data?
Answer 10: Based on main data: Site                                                                       BKAN
Date                                                        2024-02-12 00:00:00
Invoice Number                                                  SINBKAN00079777
Customer Code                                                          KNMAI003
Name                                                     MAIN FORD ELECTRONICS
Item Code                                                      HISSPL15HPCOPPER
Item Description                                        HIS SPLIT 1.5HP COPPER
Quantity                                                                      1
Name_processed                                            main ford electronics
Item Description_processed                                    split 15hp copper
tfidf_embeddings              [0.1493423240701986, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: 12251, dtype: object

In [16]:
# Based on the review of the sample questions:
# Questions 1, 5, and 6 were not answered correctly. The similarity threshold might be too low, or the TF-IDF might not be capturing the nuances of these specific queries.
# Questions 7, 8, and 10 returned relevant rows but did not specifically answer the question, indicating a need to extract the relevant information from the matched row.
# Questions 2, 3, 4, and 9 returned relevant rows, and the row content implicitly answers the question, but a more direct answer would be better.

# Areas for improvement:
# 1. Increase the similarity threshold to reduce irrelevant matches.
# 2. Refine the answer extraction logic to provide specific answers from the matched row instead of the entire row. This requires analyzing the question and the matched row to identify the relevant piece of information.
# 3. Consider alternative NLP techniques or embeddings if increasing the threshold is not sufficient and relevant matches are still missed.

# For now, I will focus on increasing the similarity threshold and note the need for answer extraction in future steps.

In [19]:
##Increase the similarity threshold in the `answer_question` function to improve the relevance of the answers.

In [20]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def answer_question(query, df_forecast, df_main, tfidf_vectorizer_forecast, tfidf_vectorizer_main, nlp_cols_forecast, nlp_cols_main):
    processed_query = preprocess_text(query)
    query_vector_forecast = tfidf_vectorizer_forecast.transform([processed_query])
    query_vector_main = tfidf_vectorizer_main.transform([processed_query])

    forecast_embeddings = np.array(df_forecast['tfidf_embeddings'].tolist())
    main_embeddings = np.array(df_main['tfidf_embeddings'].tolist())

    if forecast_embeddings.size > 0:
        cosine_similarities_forecast = cosine_similarity(query_vector_forecast, forecast_embeddings).flatten()
        most_similar_index_forecast = cosine_similarities_forecast.argmax()
        best_match_forecast = df_forecast.iloc[most_similar_index_forecast]
        forecast_similarity_score = cosine_similarities_forecast[most_similar_index_forecast]
    else:
        best_match_forecast = None
        forecast_similarity_score = 0

    if main_embeddings.size > 0:
        cosine_similarities_main = cosine_similarity(query_vector_main, main_embeddings).flatten()
        most_similar_index_main = cosine_similarities_main.argmax()
        best_match_main = df_main.iloc[most_similar_index_main]
        main_similarity_score = cosine_similarities_main[most_similar_index_main]
    else:
        best_match_main = None
        main_similarity_score = 0

    # Increased the similarity threshold to 0.3
    if forecast_similarity_score > main_similarity_score and forecast_similarity_score > 0.3:
        return "Based on forecast data: " + str(best_match_forecast)
    elif main_similarity_score > 0.3:
        return "Based on main data: " + str(best_match_main)
    else:
        return "Could not find relevant information in the dataframes."

In [21]:
sample_questions = [
    "What is the status of HISAP15K4AF1-AE?",
    "Tell me about the sales quantity for HISENSE SPLIT 1HP COPPER.",
    "What products are listed as HAND status in the forecast data?",
    "Which customer bought HISENSE SPLIT 1.5HP INV LVS?",
    "What is the Item Description for Item Code HISPAC15HP?",
    "Show me the details for invoice number SINBABU00133599.",
    "What is the forecast for HISENSE SPLIT 2HP COPPER in October?",
    "What are the different product types in the forecast data?",
    "Find information about PARK'N'SHOP ABUJA.",
    "What is the quantity for Item Code HISSPL10HPINV in the main data?"
]

for i, question in enumerate(sample_questions):
    print(f"Question {i+1}: {question}")
    answer = answer_question(question, df_forecast, df_main, tfidf_vectorizer_forecast, tfidf_vectorizer_main, nlp_cols_forecast, nlp_cols_main)
    print(f"Answer {i+1}: {answer}\n")

Question 1: What is the status of HISAP15K4AF1-AE?
Answer 1: Could not find relevant information in the dataframes.

Question 2: Tell me about the sales quantity for HISENSE SPLIT 1HP COPPER.
Answer 2: Based on forecast data: BRAND                                                                      HISENSE
ACTIVE                                                                         YES
Product                                                           HISSPL10HPCOPPER
Product description                                      HISENSE SPLIT 1HP COPPER
PROD                                                                            AC
                                                       ...
NOV.5                                                                   4815.57498
DEC.5                                                                  4810.617882
Product description_processed                             hisense split 1hp copper
STATUS_processed                                                             sales
tfidf_embeddings                 [0.0, 0.5571805619482976, 0.0, 0.0, 0.0, 0.0, ...
Name: 8, Length: 75, dtype: object

Question 3: What products are listed as HAND status in the forecast data?
Answer 3: Based on forecast data: BRAND                                                                      HISENSE
ACTIVE                                                                         YES
Product                                                           HISSPL15HPCOPPER
Product description                                        HIS SPLIT 1.5HP COPPER
PROD                                                                            AC
                                                       ...
NOV.5                                                                -34417.867601
DEC.5                                                                -41240.982133
Product description_processed                                    split 15hp copper
STATUS_processed                                                              hand
tfidf_embeddings                 [0.5303504297989189, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: 12, Length: 75, dtype: object

Question 4: Which customer bought HISENSE SPLIT 1.5HP INV LVS?
Answer 4: Based on forecast data: BRAND                                                                      HISENSE
ACTIVE                                                                         YES
Product                                                              HISSPL15HPINV
Product description                                    HISENSE SPLIT 1.5HP INV LVS
PROD                                                                            AC
                                                       ...
NOV.5                                                                -35040.751816
DEC.5                                                                -45050.034429
Product description_processed                           hisense split 15hp inv lvs
STATUS_processed                                                              hand
tfidf_embeddings                 [0.4417302374784849, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: 15, Length: 75, dtype: object

Question 5: What is the Item Description for Item Code HISPAC15HP?
Answer 5: Could not find relevant information in the dataframes.

Question 6: Show me the details for invoice number SINBABU00133599.
Answer 6: Could not find relevant information in the dataframes.

Question 7: What is the forecast for HISENSE SPLIT 2HP COPPER in October?
Answer 7: Based on main data: Site                                                                       MAJA
Date                                                        2024-01-13 00:00:00
Invoice Number                                                  SINHOLA00476465
Customer Code                                                          LAWOO001
Name                                                                 WOODstyles
Item Code                                                      HISSPL20HPCOPPER
Item Description                                      HISENSE SPLIT 2HP COPPER
Quantity                                                                      1
Name_processed                                                       woodstyles
Item Description_processed                             hisense split 2hp copper
tfidf_embeddings              [0.0, 0.0, 0.0, 0.0, 0.7742253086685369, 0.0, ...
Name: 3643, dtype: object

Question 8: What are the different product types in the forecast data?
Answer 8: Based on main data: Site                                                                       BHN3
Date                                                        2024-03-08 00:00:00
Invoice Number                                                  SINBAPA00083112
Customer Code                                                            DUN002
Name                                          DUNPILLO PRODUCT LIMITED (LA0713)
Item Code                                                      HISSPL15HPCOPPER
Item Description                                        HIS SPLIT 1.5HP COPPER
Quantity                                                                      1
Name_processed                                  dunpillo product limited la0713
Item Description_processed                                    split 15hp copper
tfidf_embeddings              [0.2124833918243015, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: 20261, dtype: object

Question 9: Find information about PARK'N'SHOP ABUJA.
Answer 9: Based on main data: Site                                                                       BABU
Date                                                        2024-01-10 00:00:00
Invoice Number                                                  SINBABU00134022
Customer Code                                                          ABPAR002
Name                                                          PARK'N'SHOP ABUJA
Item Code                                                      HISSPL15HPCOPPER
Item Description                                        HIS SPLIT 1.5HP COPPER
Quantity                                                                      3
Name_processed                                                  parknshop abuja
Item Description_processed                                    split 15hp copper
tfidf_embeddings              [0.17013165287902218, 0.0, 0.0, 0.0, 0.0, 0.0,...
Name: 2421, dtype: object

Question 10: What is the quantity for Item Code HISSPL10HPINV in the main data?
Answer 10: Based on main data: Site                                                                       BKAN
Date                                                        2024-02-12 00:00:00
Invoice Number                                                  SINBKAN00079777
Customer Code                                                          KNMAI003
Name                                                     MAIN FORD ELECTRONICS
Item Code                                                      HISSPL15HPCOPPER
Item Description                                        HIS SPLIT 1.5HP COPPER
Quantity                                                                      1
Name_processed                                            main ford electronics
Item Description_processed                                    split 15hp copper
tfidf_embeddings              [0.1493423240701986, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: 12251, dtype: object

## Summary:

### Data Analysis Key Findings

*   The datasets from "Forcast.xlsx" and "Updated_Main_Data.xlsx" were successfully loaded into pandas DataFrames.
*   Initial exploration revealed no missing values in the identified NLP-relevant columns across both DataFrames.
*   Text preprocessing steps, including converting to lowercase, removing punctuation, and removing stop words, were applied to relevant text columns in both DataFrames.
*   TF-IDF vectorization was used to create numerical embeddings for the text data.
*   An AI agent was developed using cosine similarity on the TF-IDF embeddings to find relevant information for a given query.
*   Evaluation with sample questions showed that the agent could find potentially relevant rows, but it struggled to extract specific answers and sometimes failed to find relevant information, even after increasing the similarity threshold from 0.1 to 0.3.

### Insights or Next Steps

*   The current TF-IDF based approach is limited in providing precise answers; future development should explore more advanced NLP techniques for answer extraction from matched rows.
*   Consider implementing techniques like Named Entity Recognition (NER) or fine-tuning a question answering model on the specific datasets to improve the agent's ability to provide direct answers.